{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codigo carrera</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/iniciarsesion.css' %}">

</head>

<body>
    <header>
        <div class="logo">
            <img src="{% static 'logoescu.png' %}" alt="logo"> 
        </div>
    </header>

    <br>
    <br>
    <h1 class="nombre"> Colegio Sup. 47 <br> Florentino Ameghino</h1>
    <br>
    <br>
<!-- Codigo carrera -->
<form method="post" class="formularioregistro">
    {% csrf_token %}
    <input class="registro" type="text" name="usuario" id="usuario" placeholder="Ingresar usuario">
    <input class="registro" type="number" name="codigo" id="codigo" placeholder="Ingresar codigo de carrera">
    <button type="submit" class="boton">INGRESAR</button>
</form>
<br>
<br>
<a class="boton2" href="{% url 'inicio' %}">Volver</a>
    
<footer> 
    <div class="footer-logo">
        <img src="{% static 'logoescu.png' %}" alt="logo"> 
    </div>
    <hr>
    <div>
        <br>
        <h1 class="social-footer"> Redes Sociales
            <ul>
                <a class="link-footer"  href="#">Instagram </a><br>
                <a class="link-footer"  href="#">Pagina Oficial </a>
                <br>
            </ul>
        </h1>
    </div>
    <div>
        <h1 class="info-footer"> Informacion
            <ul>
                <p class="parrafo-footer ">Contacto: 03471-422131</p>
                <p class="parrafo-footer">Ubicacion: Bv. Centenario 1075,<br> Cañada de Gomez.</p></li>
                <br>
            </ul>
        </h1>
    </div>
</footer>
</body>
</html>