{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar perfil</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style/editarperfil.css' %}">

</head>

<body>
    <header>
        <h1 class="bienvenido1">Editar Perfil</h1>
        <div class="logo">
            <img src="{% static 'logoescu.png' %}" alt="logo"> 
        </div>
    </header>
    <div class="rectangulo">
        <a class="cancelar" href="{% url 'perfil' %}">CANCELAR</a>
        <div class="imagenperfil">
            <span class="avatar"></span>
        </div>
    </div>
    <!--editar-->
    <section class="formularioregistro">
        <input class="registro" type="text"  placeholder="Nombre">
        <input class="registro" type="text"  placeholder="Apellido">
        <input class="registro" type="text"  placeholder="Fecha de nacimiento">
        <input class="registro" type="text"  placeholder="Telefono">
        <input class="registro" type="text"  placeholder="Correo electronico">
        <input class="registro" type="password" placeholder="Contraseña">

        <a class="editaravatar" href="{% url 'avatar' %}">Editar avatar</a>
        <br>
        <br>
        <a class="boton" href="{% url 'perfil' %}">GUARDAR</a>

    </section>
    

    <footer> 
        <div class="footer-logo">
            <img src="{% static 'logoescu.png' %}" alt="logo"> 
        </div>
        <hr>
        <div>
            <br>
            <h1 class="social-footer"> Redes Sociales
                <ul>
                    <a class="link-footer"  href="#">Instagram </a><br>
                    <a class="link-footer"  href="#">Pagina Oficial </a>
                    <br>
                </ul>
            </h1>
        </div>
        <div>
            <h1 class="info-footer"> Informacion
                <ul>
                    <p class="parrafo-footer ">Contacto: 03471-422131</p>
                    <p class="parrafo-footer">Ubicacion: Bv. Centenario 1075,<br> Cañada de Gomez.</p></li>
                    <br>
                </ul>
            </h1>
        </div>
    </footer>

</body>
</html>