{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="{% static "style/home.css" %}" >
    <!-- Boostrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body>
    <header class="menu-lateral">
    <ul>
        
        </li>
        <ul class="menu">
            <li class="item-menu">
                <a href="{% url 'inscripcionexamenes' %}">
                    <span class="icon"><i class="bi bi-book"></i></span>
                </a>
            </li>
            <li class="item-menu">
                <a href="{% url 'inscripcionmaterias' %}">
                    <span class="icon"><i class="bi bi-card-checklist"></i></span>
                </a>
            </li>
            <li class="item-menu">
                <a href="{% url 'perfil' %}">
                    <span class="icon"><i class="bi bi-file-person"></i></span>
                </a>
            </li>
            <li class="item-menu">
                <a href="{% url 'cerrarsesion' %}">
                    <span class="icon"><i class="bi bi-box-arrow-left"></i></span>
                </a>
            </li>
            <li class="item-menu">
                <a href="manualdeuso(1) " download="manualdeuso">
                    <span class="icon"><i class="bi bi-question-circle"></i></span>
                </a>
            </li>
        </ul>
        <div class="bienv-header"> <h1 class="bienvenido">Bienvenidos</h1>
             <img src="{% static 'logoescu.png' %}" alt="logo" class="logo">
         </div>
    
<!--noticias-->
<div class="noticias">
    <h2 class="titulonoti">Noticias</h2>
    <div class="info">
        <ul>
            <li>
                    <p>Falto Jose P. entran 21:30hs<p>
            </li>
        </ul>
    </div>
</div>
<!--calendario examenes-->
<div class="calendario">
    <h2 class="examenes">Calendario Examenes</h2>
    <div class="fechas">
        <ul>
            <li>
                <p> 14/08 Modelo de Negocios<p>
                <p> 12/08 Estadistica <p>
            </li>
        </ul>
    </div>
</div>
<!--Inscripcion a materias-->
<a class="botonmaterias" href="{% url 'inscripcionmaterias' %}" >Inscripcion materias</a>
<!--boton examenes-->
<a class="botonexamenes" hhref="{% url 'inscripcionexamenes' %}" >Inscripcion examenes</a>

<footer> 
    <div class="footer-logo">
        <img src="{% static 'logoescu.png' %}" alt="logo"> 
    </div>
    <hr>
    <div>
        <br>
        <h1 class="social-footer"> Redes Sociales
            <ul>
                <a  href="https://www.instagram.com/nacionivelterciario/" class="link-footer" >Instagram </a><br>
                <a  href="http://csfa47.edu.ar/" class="link-footer">Pagina Oficial </a>
                <br>
            </ul>
        </h1>
    </div>
    <div>
        <h1 class="info-footer"> Informacion
            <ul>
                <p class="parrafo-footer ">Contacto: 03471-422131</p>
                <p class="parrafo-footer">Ubicacion: Bv. Centenario 1075,<br> Cañada de Gomez.</p></li>
                <br>
            </ul>
        </h1>
    </div>
</footer>


</body>
</html>