<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materias a inscribirse</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/inscripcionmaterias2.css' %}">

</head>
<body>
    <header>
        <h1 class="bienvenido1"></h1>
        <div class="logo">
            <img src="{% static 'logoescu.png' %}" alt="logo"> 
        </div>
    </header>
    <h3 class="tituloinscripcion">Inscripcion a Examenes</h3>

    <table border="1">
        <tr>
            <th> Materias</th><th>Fecha 1</th><th>Fecha 2</th>
        </tr>
        <tr>
            <td>Estadistica </td><td>
                <form action="#" method="post">
                    
                <select name="materias">
                    <option value="1">17/08/2023</option><br>
                    <option value="1">19/12/2023</option><br>
                    <option value="1">8/03/2024</option><br>
                </select>
                <td>
                    <form action="#" method="post">
                        
                    <select name="materias">
                        <option value="1">17/08/2023</option><br>
                        <option value="1">19/12/2023</option><br>
                        <option value="1">8/03/2024</option><br>
                    </select>
            </form>
            </td>
        </tr>
        <tr>
            <td>Innovacion y desarrollo emprendedor </td><td>
                <form action="#" method="post">
                    
                <select name="materias">
                    <option value="1">17/08/2023</option><br>
                    <option value="1">19/12/2023</option><br>
                    <option value="1">8/03/2024</option><br>
                </select>
                <td>
                    <form action="#" method="post">
                        
                    <select name="materias">
                        <option value="1">17/08/2023</option><br>
                        <option value="1">19/12/2023</option><br>
                        <option value="1">8/03/2024</option><br>
                    </select>
                </form>
            </td>
        </tr>
        <tr>
            <td>Ingles </td><td>
                <form action="#" method="post">
                    
                <select name="materias">
                    <option value="1">17/08/2023</option><br>
                    <option value="1">19/12/2023</option><br>
                    <option value="1">8/03/2024</option><br>
                </select>
                <td>
                    <form action="#" method="post">
                        
                    <select name="materias">
                        <option value="1">17/08/2023</option><br>
                        <option value="1">19/12/2023</option><br>
                        <option value="1">8/03/2024</option><br>
                    </select>
                </form>
            </td>
        </tr>
        <tr>
            <td>Practica profecionalizante </td><td>
                <form action="#" method="post">
                    
                <select name="materias">
                    <option value="1">17/08/2023</option><br>
                    <option value="1">19/12/2023</option><br>
                    <option value="1">8/03/2024</option><br>
                </select>
                <td>
                    <form action="#" method="post">
                        
                    <select name="materias">
                        <option value="1">17/08/2023</option><br>
                        <option value="1">19/12/2023</option><br>
                        <option value="1">8/03/2024</option><br>
                    </select>
                </form>
            </td>
        </tr>
        <tr>
            <td>Problematica Sociocontemporanea</td><td>
                <form action="#" method="post">
                    
                <select name="materias">
                    <option value="1">17/08/2023</option><br>
                    <option value="1">19/12/2023</option><br>
                    <option value="1">8/03/2024</option><br>
                </select>
                <td>
                    <form action="#" method="post">
                        
                    <select name="materias">
                        <option value="1">17/08/2023</option><br>
                        <option value="1">19/12/2023</option><br>
                        <option value="1">8/03/2024</option><br>
                    </select>
                </form>
            </td>
        </tr>
        <tr>
            <td>Desarrollo de Sistema</td><<td>
                <form action="#" method="post">
                    
                <select name="materias">
                    <option value="1">17/08/2023</option><br>
                    <option value="1">19/12/2023</option><br>
                    <option value="1">8/03/2024</option><br>
                </select>
                <td>
                    <form action="#" method="post">
                        
                    <select name="materias">
                        <option value="1">17/08/2023</option><br>
                        <option value="1">19/12/2023</option><br>
                        <option value="1">8/03/2024</option><br>
                    </select>
                </form>
            </td>
        </tr>
        <tr>
            <td>Estrategia de Negocios </td><td>
                <form action="#" method="post">
                    
                <select name="materias">
                    <option value="1">17/08/2023</option><br>
                    <option value="1">19/12/2023</option><br>
                    <option value="1">8/03/2024</option><br>
                </select>
                <td>
                    <form action="#" method="post">
                        
                    <select name="materias">
                        <option value="1">17/08/2023</option><br>
                        <option value="1">19/12/2023</option><br>
                        <option value="1">8/03/2024</option><br>
                    </select>
                </form>
            </td>
        </tr>
    </table>
    <a  class="boton" type="submit" value="guardar" href="home.html"> Guardar</a>
    
    <footer> 
        <div class="footer-logo">
            <img src="{% static 'logoescu.png' %}" alt="logo"> 
        </div>
        <hr>
        <div>
            <br>
            <h1 class="social-footer"> Redes Sociales
                <ul>
                    <a class="link-footer"  href="#">Instagram </a><br>
                    <a class="link-footer"  href="#">Pagina Oficial </a>
                    <br>
                </ul>
            </h1>
        </div>
        <div>
            <h1 class="info-footer"> Informacion
                <ul>
                    <p class="parrafo-footer ">Contacto: 03471-422131</p>
                    <p class="parrafo-footer">Ubicacion: Bv. Centenario 1075,<br> Cañada de Gomez.</p></li>
                    <br>
                </ul>
            </h1>
        </div>
    </footer>
</body>
</html>