/*bienvenido*/
header{
    display: flex;
    justify-content: space-between;
    background-color:#d4d4c8;
    padding: 0px;
    width: 100%;
    height: 61px;
    box-shadow: 0 1px 0 #979494;
}

.bienvenido1{
    font-size:larger;
    font-family: Arial, Helvetica, sans-serif;
    left: 145px;
    position: relative;
    top: 5px;
}
.logo{
    display: flex;
    order: 3;
    margin-left: auto;
}
.logo img{
    height: 60px;
    
}
.tituloinscripcion{
    position: relative;
    top: -2px;
    left: 85px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

/*formulario*/
table{
   border-collapse: collapse; 
   position: relative;
    width: 365px;
    height: 518px;
    left: 53px;
    top: -10px;
    font-family: Arial, Helvetica, sans-serif;
}
th{
    background: #60A3F2;
}
tr:nth-child(even){
    background-color: #f9eded;
}
.boton{
    display: block;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    background-color: #60A3F2;
    border-radius: 40px;
    padding: 20px 30px;
    margin: 100px 620px;
    color: #000;
    text-decoration: none;/* elimina linea*/
    text-align: center;
    position: relative;
    left: -523px;
    top: -60px;
}

footer{
    background-color: #60A3F2;
    position: relative;
    top: 55px;
}
.social-footer{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    width: 100%;
    left: -100px;
    top: 30px;

}
.link-footer{
    position: relative;
    padding: 0%;
    text-decoration: none;
    position: relative;
    left: -20px;
    top: -10px;
    width: 500px;
    font-size: x-small;
    color: black;
}

.info-footer{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
    width: 100%;
    left: 90px;
    top: -75px;
}


.parrafo-footer{
    text-decoration: none;
    position: relative;
    left: -60px;
    width: 500px;
    font-size: x-small;
    color: black;
    
}

.footer-logo{
    text-align: center;
}
.footer-logo img{
    width: 60px;
    height: 70px;
    position: relative;
    top: 5px;
}